<!DOCTYPE html>

<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./../static/attendance.css">
  <title>セルフ勤怠管理</title>
</head>

<body>

  {% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/attendance">ログイン</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link float-right" href="/register">アカウント新規作成</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">セルフ勤怠管理</h1>
        <hr />
        <p class="lead">無料で使えるシンプルな勤怠管理用アプリ</p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">試してみる &raquo;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>このアプリについて</h2>
        <p>携帯やPCから勤怠管理及び結果の出力を行うことができます。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>機能概要</h2>
        <p>携帯やPCから勤怠管理及び結果の出力を行うことができます。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>注意事項</h2>
        <p>このアプリは個人が趣味で作成したものです。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳細を見る &raquo;</a></p>
      </div>
    </div>

    <hr />
    <div class="block ">
      <h2>詳細</h2>
      <h3>このアプリについて</h3>
      <h3>機能概要</h3>
      <h3>注意事項</h3>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script type="text/javascript" src="./../static/login.js"></script>
  {% endblock %}
</body>

</html>
