<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" type="text/css" href="./../static/register.css">
  <title>アカウント新規登録</title>
</head>

<body>
  <div class="panel-background">
    <div class="panel-body">
      <h1>セルフ勤怠管理</h1>
      <h2>アカウント登録</h2>
      <form action="register" method="post" id="registerApp">
        <div class="form">
          <label>ユーザID</label>
          <input type=text name=user_id v-model="userId" placeholder="ユーザID" v-on:change="validateUserId" />
          <!-- jinja2 のデリミタと競合するため、vue.js側のデリミタを変更している。 -->
          [[userIdError]]
        </div>
        <div class="form">
          <label>名前</label>
          <input type=text name=name v-model="name" placeholder="名前" />
        </div>
        <div class="form">
          <label>パスワード</label>
          <input type=password name=password v-model="password" placeholder="パスワード" v-on:change="validatePassword">
          <!-- jinja2 のデリミタと競合するため、vue.js側のデリミタを変更している。 -->
          [[passwordError]]
        </div>
        <br />
        <br />
        <div>
          <input class="submit" type="submit" value="アカウントを新規作成する">
        </div>
      </form>
      {% if messages %}
      <div>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>

  <script type="text/javascript" src="./../static/register.js"></script>
</body>

</html>
